
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  
  /* DARKMODE Standard Colors */
  /* BACKGROUND Colors */
  --bg-dark: hsl(0, 0%, 16%);
  --bg: hsl(0, 0%, 25%);
  --bg-light: hsl(0, 0%, 36%);
  
  /* TEXT Colors */
  --text:hsl(0, 0%, 95%);
  --text-muted:hsl(0%, 0%, 70%);  

  /* BORDERS GRADIENTS Colors */
  --border:hsl(0%, 0%, 30%);  
  --gradient:linear-gradient(0deg, var(--bg) 95%, var(--bg-light));  
  --gradient-hover:linear-gradient(0deg, var(--bg), var(--bg-light));  
  --highlight: hsl(0, 0%,80%);
  --border-card: solid 1px var(--bg);
  --shadow: 5px 15px 2px hsla(0, 0%, 0%, 0.15), 5px 20px 3px hsla(0, 0%, 0%, 0.25);
  --Colorshadow: 0px 10px 10px var(--Ybg1), 0px 15px 20px var(--Bbg1);
  /* ACTION */
  --primary: hsl(155 56% 54%);
  --secondary: #4AF262;

  /* Altert */
  --danger: hsl(7 89% 66%);
  --warning: hsl(54 100% 25%);
  --success: hsl(162 100% 29%);
  --info: hsl(217 100% 69%);

  /* Yellow Logo Color Pallet */
  --Ylogo: #ffbd59;
  --Ybg1: hsla(from var(--Ylogo) h s 70%);
  --Yborder: hsl(from var(--Ylogo) h s 20%);
  --Ytext: hsl(from var(--Ylogo) h s 20%);
  --Ytext-muted: hsl(from var(--Ylogo) h s 20%);
  --Primary: hsl(from var(--Ylogo) h s 20%);
  --Primary-muted: hsl(from var(--Ylogo) h s 20%);

  /* Blue Logo Color Pallet */
  --Blogo: #5170ff;
  --Bbg1: hsl(from var(--Blogo) h s 60%);
  --Bborder: hsl(from var(--Blogo) h s 20%);
  --Btext: hsl(from var(--Blogo) h s 20%);
  --Btext-muted: hsl(from var(--Blogo) h s 20%);
  --Primary: hsl(from var(--Blogo) h s 20%);
  --Primary-muted: hsl(from var(--Blogo) h s 20%);

  /* Retro Terminal Colors */
  --TermText1: #008000;
  --TermText2: #00FF00;
  --TermText3: #4AF262;
  --TermColor: #282828;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', sans-serif;
}

body{
  cursor: url("./media/navicons/cursorCP.cur"), auto;
}

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.7s;
}

.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  padding-bottom: 15px;
  z-index: 990;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient);
  transition: 0.7s;
}

.showcase header button{
  background-color: var(--Ybg1);
  border-radius: 50px;
  padding: 5px 5px;
  color: var(--Bbg1);
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#Button1 img {
      width: 1em;   /* 👈 image size relative to button */
      height: auto; /* maintain aspect ratio */
    }

#Button2 img {
    width: 2em;   /* 👈 image size relative to button */
    height: auto; /* maintain aspect ratio */
  }   

.logo {
  text-transform: uppercase;
  background-color: var(--TermColor);
  color: var(--TermText2);
  cursor: url("./media/navicons/cursorPP.cur"), auto;
  margin: 5px 0px 0px 0px;
  padding: 9px 2rem; 
  border: 5px solid black;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 10px 10px 0px var(--Ybg1);
}

input{
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
} 

.toggle{
  position: relative;
  background-color: var(--Ylogo);
  height: 30px;
  width: 30px;
  right: 1px;
  z-index: 1;
  cursor: url("./media/cursorCP.cur"), pointer;
  border-radius: 2px;
  /* background-color: var(--Blogo); */
  box-shadow: 3px 4px 2px hsla(0, 0%, 0%, 0.15), 4px 6px 3px hsla(0, 0%, 0%, 0.25), 0px 0px 0px 1px hsla(0, 0%, 0%, 0.15) ;
  border-radius: 14px;
  transition: .75s ease;
}

.toggle .common{
  position: absolute;
  height: 3px;
  width: 20px;
  background-color: var(--Blogo);
  border-radius: 50px;
}

.toggle .top_line{
  margin: 5px;
  top: 10%;
  transition: transform 1s ease, top 1s ease;
}

.toggle .mid_line{
  margin: 5px;
  top: 29%;
  transition: .5s;
}

.toggle .bot_line{
  margin: 5px;
  top: 49%;
  transition: transform 1s ease, top 1s ease;
}

.toggle.active{
  right: 140px;
}

.toggle.active .common{
  background-color: red;
}


.toggle.active .top_line{
  animation: movedwn-rotate 1s ease forwards;
  transition: transform 1s ease, top 1s ease;
}

@keyframes movedwn-rotate {
  0% { top: 8%; transform: translateY(0) }
  50% { top: 28%; transform: translateY(28%) }
  100% { top: 28%; transform: rotate(45deg); }
}

.toggle.active .mid_line{
  opacity: 0;
  transition: .5s;
}

.toggle.active .bot_line{
  margin: 5px;
  top: 48%;
  animation: moveup-rotate 1s ease forwards;
  transition: transform 1s ease, top 1s ease;
}

@keyframes moveup-rotate {
  0% { top: 48%; transform: translateY(0) }
  50% { top: 28%; transform: translateY(28%) }
  100% { top: 28%; transform: rotate(-45deg); }
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.overlay{
  position: absolute;
  align-items: center;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-dark);
  mix-blend-mode: overlay;
}

.text{
  /* position: relative; */
  z-index: 10;
  align-items: top;
}

.text h1 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  padding: 15px 0px 0px 0px;
}
.text h2 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  padding: 15px 0px 0px 0px;
}

.text h3{
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}

.text p{
  font-size: 1.1em;
  margin: 20px 0;
  max-width: 600px;
}

.text a{
  background-color: var(--Bbg1);
  border-radius: 30px;
  display: inline-block;
  font-size: 1em;
  padding: 10px 30px;
  text-decoration: none;
  color: var(--Ybg1);
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.text a:hover{
  letter-spacing: 6px;
  background-color: var(--Ybg1);
  color: var(--Bbg1);
}


.text button{
  background-color: var(--Ybg1);
  border-radius: 30px;
  display: block;
  font-size: 1em;
  padding: 10px 30px;
  text-decoration: none;
  color: var(--Bbg1);
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .5s;
}

.text button:hover{
  letter-spacing: 10px;
  color: var(--Ybg1);
  background-color: var(--Bbg1);
}

.social{
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li{
  list-style: none;
}

.social li a{
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transform-origin: center;
  transition: transform 0.5s ease;
  cursor: url("./media/navicons/cursorPP.cur"), pointer !important;
}

.social li a:hover{
  transform: scale(0.5) translateY(-15px);
}

.navbar {
  position: fixed;
  padding-top: 45px;
  padding-bottom: 30px;
  right: -300px;
  width: 300px;
  height: 100%;
  top: 30px;
  display: flex;
  align-items: top;
  justify-content: center;
  background: var(--gradient);
  transition: .7s ease;
  z-index: 900;
 
}

.navbar ul{
  list-style: none;
}

.navbar ul li a{
  display: block;
  width: 300px;
  padding: 20px;
  text-decoration: none;
  font-size: 24px;
  color: var(--Ybg1);
  transition: .5s;
  
}

nav ul li:first-child a {border-left: 10px solid var(--Ybg1);}
nav ul li:nth-child(2) a {border-left: 10px solid var(--Bbg1);}
nav ul li:nth-child(3) a {border-left: 10px solid var(--Ybg1);}
nav ul li:nth-child(4) a {border-left: 10px solid var(--Bbg1);}
nav ul li:nth-child(5) a {border-left: 10px solid var(--Ybg1);}
nav ul li:nth-child(6) a {border-left: 10px solid var(--Bbg1);}
nav ul li:nth-child(7) a {border-left: 10px solid var(--Ybg1);}
nav ul li:nth-child(8) a {border-left: 10px solid var(--Ybg1);}
nav ul li:last-child   a {border-left: 10px solid var(--Bbg1);}

nav li a::after{
  content: '';
  height: 0px;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease;
}

nav li a:hover::after {width: 100%;}
nav ul li:first-child a::after {background: var(--Ybg1);}
nav ul li:nth-child(2) a::after {background: var(--Bbg1);}
nav ul li:nth-child(3) a::after {background: var(--Ybg1);}
nav ul li:nth-child(4) a::after {background: var(--Bbg1);}
nav ul li:nth-child(5) a::after {background: var(--Ybg1);}
nav ul li:nth-child(6) a::after {background: var(--Bbg1);}
nav ul li:nth-child(7) a::after {background: var(--Ybg1);}
nav ul li:nth-child(8) a::after {background: var(--Ybg1);}
nav ul li:last-child   a::after {background: var(--Bbg1);}

.navbar img{
    width: 50px;                /* same as before */
    height: 50px;
               /* keeps image proportion correct */
}

.navbar.active{
  position: fixed;
  top: 30px;
  right: 0px;
  width: 300px;
  height: 0px;
  display: flex;
  align-items: top;
  justify-content: center;
  background: var(--gradient);
  z-index: 900;
}

.navbar.active ul{
  position: relative;
  list-style: none; 
  width: 300px;
}

.navbar.active ul li{
  width: 300px;
}

.navbar.active ul li a{
   display: block;
  width: 300px;
  padding: 20px;
  text-decoration: none;
  font-size: 24px;
  color: var(--Ybg1);
  transition: .5s;
}


.navbar.active ul li:first-child a {border-left: 10px solid var(--Ybg1);}
.navbar.active ul li:nth-child(2) a {border-left: 10px solid var(--Bbg1);}
.navbar.active ul li:nth-child(3) a {border-left: 10px solid var(--Ybg1);}
.navbar.active ul li:nth-child(4) a {border-left: 10px solid var(--Bbg1);}
.navbar.active ul li:nth-child(5) a {border-left: 10px solid var(--Ybg1);}
.navbar.active ul li:nth-child(6) a {border-left: 10px solid var(--Bbg1);}
.navbar.active ul li:nth-child(7) a {border-left: 10px solid var(--Ybg1);}
.navbar.active ul li:nth-child(8) a {border-left: 10px solid var(--Ybg1);}
.navbar.active ul li:last-child   a {border-left: 10px solid var(--Bbg1);}

.navbar.active li a::after{
  content: '';
  height: 0px;
  left: 0;
  top: 0;
  width: 0%;
  position: absolute;
  transition: all 0.3s ease;
}

.navbar.active li a:hover::after {width: 100%;}
.navbar.active ul li:first-child a::after {background: var(--Ybg1);}
.navbar.active ul li:nth-child(2) a::after {background: var(--Bbg1);}
.navbar.active ul li:nth-child(3) a::after {background: var(--Ybg1);}
.navbar.active ul li:nth-child(4) a::after {background: var(--Bbg1);}
.navbar.active ul li:nth-child(5) a::after {background: var(--Ybg1);}
.navbar.active ul li:nth-child(6) a::after {background: var(--Bbg1);}
.navbar.active ul li:nth-child(7) a::after {background: var(--Ybg1);}
.navbar.active ul li:nth-child(8) a::after {background: var(--Ybg1);}
.navbar.active ul li:last-child   a::after {background: var(--Bbg1);}


.navbar.active ul li a:hover{
  color: var(--Bbg1);
  background-color: var(--Ybg1);
}

.navbar.active:hover{
  background: var(--gradient);
}

@media (max-width: 790px), (max-height: 450px) {
  
  .toggle.active{
    right: 180px;
  }

  .navbar.active {
    width: 200px;
  }

  .showcase, .showcase header{
    padding: 20px 0px 0px 50px;
    padding-bottom: 0px;
  }

  .logo {
    text-transform: uppercase;
    background-color: var(--TermColor);
    color: var(--TermText2);
    cursor: url("./media/navicons/cursorPP.cur"), auto;
    margin: 5px 0px 0px 0px;
    padding: 9px 2rem; 
    border: 5px solid black;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 10px 10px 0px var(--Ybg1);
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }


}




