
:root {
  
  /* DARKMODE Standard Colors */
  /* BACKGROUND Colors */
  --bg-dark: hsl(0, 0%, 16%);
  --bg: hsl(0, 0%, 25%);
  --bg-light: hsl(0, 0%, 36%);
  
  /* TEXT Colors */
  --text:hsl(0, 0%, 95%);
  --text-muted:hsl(0%, 0%, 70%);  

  /* BORDERS GRADIENTS Colors */
  --border:hsl(0%, 0%, 30%);  
  --gradient:linear-gradient(0deg, var(--bg) 95%, var(--bg-light));  
  --gradient-hover:linear-gradient(0deg, var(--bg), var(--bg-light));  
  --highlight: hsl(0, 0%,80%);
  --border-card: solid 1px var(--bg);
  --shadow: 5px 15px 2px hsla(0, 0%, 0%, 0.15), 5px 20px 3px hsla(0, 0%, 0%, 0.25);
  --Colorshadow: 0px 10px 10px var(--Ybg1), 0px 15px 20px var(--Bbg1);
  /* ACTION */
  --primary: hsl(155 56% 54%);
  --secondary: #4AF262;

  /* Altert */
  --danger: hsl(7 89% 66%);
  --warning: hsl(54 100% 25%);
  --success: hsl(162 100% 29%);
  --info: hsl(217 100% 69%);

  /* Yellow Logo Color Pallet */
  --Ylogo: #ffbd59;
  --Ybg1: hsla(from var(--Ylogo) h s 70%);
  --Yborder: hsl(from var(--Ylogo) h s 20%);
  --Ytext: hsl(from var(--Ylogo) h s 20%);
  --Ytext-muted: hsl(from var(--Ylogo) h s 20%);
  --Primary: hsl(from var(--Ylogo) h s 20%);
  --Primary-muted: hsl(from var(--Ylogo) h s 20%);

  /* Blue Logo Color Pallet */
  --Blogo: #5170ff;
  --Bbg1: hsl(from var(--Blogo) h s 60%);
  --Bborder: hsl(from var(--Blogo) h s 20%);
  --Btext: hsl(from var(--Blogo) h s 20%);
  --Btext-muted: hsl(from var(--Blogo) h s 20%);
  --Primary: hsl(from var(--Blogo) h s 20%);
  --Primary-muted: hsl(from var(--Blogo) h s 20%);

  /* Retro Terminal Colors */
  --TermText1: #008000;
  --TermText2: #00FF00;
  --TermText3: #4AF262;
  --TermColor: #282828;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--Blogo);
  width: 100vw;
}

.nav{
  height: 100%;
  width: 0px;
  position: absolute;
  right: -200px;
  background-color: var(--Ylogo);
  
  transition: 0.5s ease;
}

.nav.active{
  height: 100%;
  width: 260px;
  position: absolute;
  right: 0;
  background-color: var(--Ylogo);
  transition: 0.5s ease;
}

ul {
  padding-top: 70px;
}

ul li{
  list-style: none;
  text-align: center;
  font-size: 25px;
}

ul li a{
  color: var(--Blogo);
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}

ul li a i{
  width: 40px;
  text-align: center;
  font-size: 15px;
}

input{
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
} 

.toggle{
  position: absolute;
  right: 5%;
  height: 30px;
  width: 30px;
  top: 15px;
  z-index: 1;
  cursor: url("./media/navicons/cursorPP.cur"), pointer;
  border-radius: 2px;
  background-color: var(--Ylogo);
  box-shadow: 3px 4px 2px hsla(0, 0%, 0%, 0.15), 4px 6px 3px hsla(0, 0%, 0%, 0.25), 0px 0px 0px 1px hsla(0, 0%, 0%, 0.15) ;
  border-radius: 14px;
}

.toggle.active{
  position: absolute;
  right: 5%;
  height: 30px;
  width: 30px;
  top: 15px;
  z-index: 1;
  cursor: url("./media/navicons/cursorCP.cur"), pointer;
  border-radius: 2px;
  background-color: var(--Blogo);
  box-shadow: 3px 4px 2px hsla(0, 0%, 0%, 0.15), 4px 6px 3px hsla(0, 0%, 0%, 0.25), 0px 0px 0px 1px hsla(0, 0%, 0%, 0.15) ;
  border-radius: 14px;
}

.toggle .common{
  position: absolute;
  height: 3px;
  width: 20px;
  background-color: var(--Blogo);
  border-radius: 50px;
}


.toggle .top_line{
  margin: 5px;
  top: 8%;
  transition: transform 1s ease, top 1s ease;
}
.toggle .top_line.active{
  background-color: var(--Ylogo);
}

.toggle .mid_line{
  margin: 5px;
  top: 28%;
  transition: .5s;
  transition-timing-function: ease;
}
.toggle .mid_line.active{
  background-color: var(--Ylogo);
}

.toggle .bot_line{
  margin: 5px;
  top: 48%;
  transition: transform 1s ease, top 1s ease;
}
.toggle .bot_line.active{
  background-color: var(--Ylogo);
}

input:checked ~ .toggle .top_line{
  animation: movedwn-rotate 1s ease forwards;
}

@keyframes movedwn-rotate {
  0% { top: 8%; transform: translateY(0) }
  50% { top: 28%; transform: translateY(28%) }
  100% { top: 28%; transform: rotate(45deg); }
}

input:checked ~ .toggle .mid_line{
  opacity: 0;
}

input:checked ~ .toggle .bot_line{
  margin: 5px;
  top: 48%;
  animation: moveup-rotate 1s ease forwards;
}

@keyframes moveup-rotate {
  0% { top: 48%; transform: translateY(0) }
  50% { top: 28%; transform: translateY(28%) }
  100% { top: 28%; transform: rotate(-45deg); }
}

input:not(:checked) ~ .toggle .top_line {
  animation: moveup-rotate 1s ease reverse;
}

input:not(:checked) ~ .toggle .bot_line {
  animation: movedwn-rotate 1s ease reverse;
}

input:not(:checked) ~ .toggle .mid_line {
  opacity: 1;
  transition: 1s;
  transition-delay: .9s;
}
